* {
  /*Removing the border around the website*/
  margin: 0;
  padding: 0;
}

html /*The full html*/{
  background-color: white; /*Background color*/
  scroll-behavior: smooth; /*Make the website go smoooth*/
}

/*================Wrapper================*/

/*================h================*/
h1 {
  padding: 50px 0;
  text-align: center;
  font-size: 48px;
  background: rgba(90, 90, 90, 0.9);
}

h2 {
  padding: 10px 0;
  text-align: center;
}

/*================Header================*/
header /*The whole header*/ {
  background-image: url(../img/background_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  padding: 0px 10px; /*distance on the left and the right, no distance on top or bottom*/
  background-color: gray; /*Background color*/
  height: 20vh;
}

#landing_page /* NOTE: Make the landing page bigger */ {
  height: 50vh; /*The minimum height of the header. it CAN'T be less than that*/
}

header div {
  display: inline-block;
  vertical-align: middle; /*Vertically align / center it*/
}

#navbar {
  position: sticky;
  top: 0;
  height: 30px;
}

#navbar ul {
  padding-left: 5px;
  padding-right: 5px;
  width: calc(100% - 10px); /* NOTE: Wegen dem Padding muss ich die Pixel vom den breite abrechnen. sonst ist es zu breit -_- */
  list-style-type: none;
  text-align: center;
  background-color: black; /* NOTE: The color of the whole thing. black */
  height: 100%;
}

#navbar ul li {
  display: inline;
}

#navbar ul li a /* NOTE: The text/buttons */ {
  text-decoration: none;
  padding: 5px 10px; /* NOTE: The size of the buttons. top/bottom left/right */
  color: white; /* NOTE: Text color */
  background-color: #000;
}

#navbar ul li a:hover {
  color: #000;
  background-color: #fff;
}

#navbar li .active_navbar /* NOTE: The currently active navbar */{
  color: black; /* NOTE: Text is black */
  background-color: white; /* NOTE: background is white */
}

#logo_header /*Logo in header*/ {
  position: absolute;

  min-width: 100px; /*The minimum width of the logo. it CANT be less than that.*/
  max-width: 60%; /*max width, based on the original resolution*/
}

/*================Main================*/
main {
  background-image: url(../img/lightbulb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  color: white;
  font-size: 20px;
}

.background_color /* NOTE:  */ {
  background-color: rgba(80, 80, 80, 0.6);
}

main section /*Every section inside of main*/ {
  padding: 10px; /*Adding a distance around every section*/
}

main section div /*The whole div inside section inside main*/ {
  width: 49%; /*because of divs, 50% does not work -_-*/
  vertical-align: middle; /*Vertically align / center it*/
  display: inline-block; /*put everything inside the div on one line*/
}

main section div img /*Every image inside a div inside a section inside main*/ {
  min-width: 100px; /*Don't go under this limit*/
  max-width: 100%; /*Don't go over the original resolution*/
}

.gray_background {
  background-color: rgb(195, 195, 195);
}

.text_side_div, .image_side_div /*Text and Image that are on the side*/ {
  text-align: center; /*Center the content*/
}

/*================Footer================*/
footer /*the whole footer*/ {
  padding: 0px 10px; /*distance on the left and the right, no distance on top or bottom*/
  min-height: 100px; /*The minimum height of the footer. it CANT be less than that*/
  background-color: rgb(70, 70, 70); /*background color*/
}

#footer_left, #footer_right /*both "boxes" in the footer*/ {
  margin-top: 30px; /*Distance from the top footer border*/
}

#footer_left /*Only the left footer "box"*/ {
  float: left; /*float on the left side*/
}

#footer_right /*only the right footer "box"*/ {
  float: right; /*float on the right side*/
}

/*================Page: über uns================*/
#wer {
  text-align: center;
}

.person_desc ul {
  padding-left: 20px;
  text-align: left;
  list-style: none;
}

.person_img_right {
  text-align: right;
}

.person_img_left {
  text-align: left;
}

.grid-container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px 5px;
  grid-template-areas:
    "person1 person1 person2 person2"
    "person1 person1 person2 person2"
    "person3 person3 person4 person4"
    "person3 person3 person4 person4";
}
.person1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 1px 1px;
  grid-template-areas:
    "name1 ."
    "text1 image1";
  grid-area: person1;
}
.name1 { grid-area: name1; }
.text1 { grid-area: text1; }
.image1 { grid-area: image1; }
.person2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 1px 1px;
  grid-template-areas:
    "name2 name2"
    "image2 text2";
  grid-area: person2;
}
.name2 { grid-area: name2; }
.image2 { grid-area: image2; }
.text2 { grid-area: text2; }
.person3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 1px 1px;
  grid-template-areas:
    "name3 name3"
    "text3 image3";
  grid-area: person3;
}
.name3 { grid-area: name3; }
.text3 { grid-area: text3; }
.image3 { grid-area: image3; }
.person4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 1px 1px;
  grid-template-areas:
    "name4 name4"
    "image4 text4";
  grid-area: person4;
}
.name4 { grid-area: name4; }
.image4 { grid-area: image4; }
.text4 { grid-area: text4; }
