* {
  /*Removing the border around the website*/
  margin: 0;
  padding: 0;
}

html /*The full html*/{
  background-color: indigo; /*Background color*/
}

/*================Wrapper================*/
#wrapper /*The whole site*/ {
}

/*================Header================*/
header /*The whole header*/ {
  padding: 0px 10px; /*distance on the left and the right, no distance on top or bottom*/
  background-color: gray; /*Background color*/
  min-height: 200px; /*The minimum height of the header. it CANT be less than that*/
}

#top_nav /*The whole navigation in the top*/ {
  text-align: right; /*put it to the right side*/
}

#top_nav ul li /*All "li" in the top navigation*/ {
  display: inline-block; /*Put them on one line*/
}

#logo_header /*Logo in header*/ {
  min-width: 100px; /*The minimum width of the logo. it CANT be less than that*/
  width: 10%; /*10% of the viewport / browser*/
}

/*================Main================*/
main /*The whole main*/ {
  position: relative;
  width: 100%;
  padding: 0px 10px; /*distance on the left and the right, no distance on top or bottom*/
  background-color: yellow; /*background color*/
}

main section /*Every section inside of main*/ {
  width: 50%;
  padding: 10px; /*Adding a distance around*/
}

.text_about {
  right: 0px;
  text-align: right;
}

/*================Footer================*/
footer /*the whole footer*/ {
  padding: 0px 10px; /*distance on the left and the right, no distance on top or bottom*/
  min-height: 100px; /*The minimum height of the footer. it CANT be less than that*/
  background-color: green; /*background color*/
}

#footer_left, #footer_right /*both "boxes" in the footer*/ {
  margin-top: 30px; /*Distance from the top footer border*/
}

#footer_left /*Only the left footer "box"*/ {
  float: left; /*float on the left side*/
}

#footer_right /*only the right footer "box"*/ {
  float: right; /*float on the right side*/
}
