.u-section-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/55e5d3434856b108f5d084609629317e113fdce15b4c704c7c2678d59448c05d_1280.jpg")}
.u-section-1 .u-sheet-1 {min-height: 100vh}
.u-section-1 .u-text-1 {animation-duration: 1000ms; margin: 330px auto 0}
.u-section-1 .u-text-2 {animation-duration: 1000ms; margin: 30px 7px 60px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 660px}
.u-section-1 .u-text-1 {margin-top: -560px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 506px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 380px}
.u-section-1 .u-text-1 {margin-top: -552px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 287px}
.u-section-1 .u-text-1 {margin-top: -390px} }.u-section-2 {background-image: url("images/57e8d2464856ab14f6da8c7dda793678153bdee757596c48702672d7964ec159b8_12801.jpg")}
.u-section-2 .u-sheet-1 {min-height: 628px}
.u-section-2 .u-layout-wrap-1 {width: 890px; margin: 60px auto 60px 125px}
.u-section-2 .u-image-1 {min-height: 539px; background-image: url("images/52e3dd4a4955ae14f6da8c7dda793678153bdee757596c48702672d7964ec15bbb_1280.jpg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 539px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-group-1 {width: 537px; min-height: 382px; background-image: none; margin: 45px auto 0 -122px}
.u-section-2 .u-container-layout-3 {padding: 30px 60px}
.u-section-2 .u-text-1 {margin: 69px 0 0}
.u-section-2 .u-text-2 {margin: 20px 0 0}
.u-section-2 .u-btn-1 {margin: 30px 0 0} 

@media (max-width: 1199px){ .u-section-2 {background-position: 50% 50%}
.u-section-2 .u-layout-wrap-1 {width: 820px; margin-left: 60px}
.u-section-2 .u-group-1 {width: 443px; margin-left: -101px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 580px}
.u-section-2 .u-layout-wrap-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-2 .u-image-1 {min-height: 491px}
.u-section-2 .u-layout-cell-2 {min-height: 491px}
.u-section-2 .u-group-1 {width: 416px; margin-top: 38px; margin-left: -86px}
.u-section-2 .u-container-layout-3 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: auto}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-2 {min-height: auto}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-group-1 {width: 390px; margin-top: -113px; margin-left: auto}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-group-1 {width: 302px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 604px}
.u-section-3 .u-text-1 {font-size: 3.75rem; letter-spacing: 9px; text-transform: uppercase; font-weight: 500; margin: 60px auto 0}
.u-section-3 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-3 .u-layout-cell-1 {min-height: 309px}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-image-1 {width: 200px; height: 200px; background-image: url("images/57e5d2444352a514f6da8c7dda793678153bdee757596c48702672d7964fc75abd_1280.png"); background-position: 50% 50%; animation-duration: 1000ms; margin: 0 auto}
.u-section-3 .u-text-2 {letter-spacing: 9px; text-transform: uppercase; font-weight: 500; margin: 20px 0 0}
.u-section-3 .u-layout-cell-2 {min-height: 309px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-image-2 {width: 200px; height: 200px; background-image: url("images/57e5d2444352a514f6da8c7dda793678153bdee757596c48702672d7964fc75abd_1280.png"); background-position: 50% 50%; animation-duration: 1000ms; margin: 0 auto}
.u-section-3 .u-text-3 {letter-spacing: 9px; text-transform: uppercase; font-weight: 500; margin: 20px auto 0 69px}
.u-section-3 .u-layout-cell-3 {min-height: 321px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-image-3 {width: 200px; height: 200px; background-image: url("images/57e5d2444352a514f6da8c7dda793678153bdee757596c48702672d7964fc75abd_1280.png"); background-position: 50% 50%; object-position: 50% 50%; animation-duration: 1000ms; margin: 0 auto}
.u-section-3 .u-text-4 {letter-spacing: 9px; text-transform: uppercase; font-weight: 500; margin: 20px auto 0}
.u-section-3 .u-layout-cell-4 {min-height: 309px}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-image-4 {width: 200px; height: 200px; background-image: url("images/57e5d2444352a514f6da8c7dda793678153bdee757596c48702672d7964fc75abd_1280.png"); background-position: 50% 50%; animation-duration: 1000ms; margin: 0 auto}
.u-section-3 .u-text-5 {letter-spacing: 9px; text-transform: uppercase; font-weight: 500; margin: 20px auto 0 48px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 490px}
.u-section-3 .u-text-1 {margin-right: 354px}
.u-section-3 .u-layout-cell-1 {min-height: 317px}
.u-section-3 .u-image-1 {width: 175px; height: 175px; margin-left: 0; margin-right: 0}
.u-section-3 .u-text-2 {width: 125px; margin-left: auto; margin-right: auto}
.u-section-3 .u-layout-cell-2 {min-height: 255px}
.u-section-3 .u-image-2 {width: 175px; height: 175px}
.u-section-3 .u-text-3 {margin-left: 54px}
.u-section-3 .u-layout-cell-3 {min-height: 265px}
.u-section-3 .u-image-3 {width: 175px; height: 175px}
.u-section-3 .u-text-4 {margin-left: 5px; margin-right: 5px}
.u-section-3 .u-layout-cell-4 {min-height: 255px}
.u-section-3 .u-image-4 {width: 175px; height: 175px}
.u-section-3 .u-text-5 {margin-left: 37px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 893px}
.u-section-3 .u-text-1 {margin-right: auto; margin-left: 250px}
.u-section-3 .u-layout-cell-1 {min-height: 296px}
.u-section-3 .u-image-1 {margin-left: auto; margin-right: auto}
.u-section-3 .u-text-2 {width: 193px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-text-3 {margin-left: 93px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-text-4 {margin-left: 9px; margin-right: 9px}
.u-section-3 .u-layout-cell-4 {min-height: 100px}
.u-section-3 .u-text-5 {margin-left: 63px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1368px}
.u-section-3 .u-text-1 {width: auto; margin-right: 169px; margin-left: auto}
.u-section-3 .u-layout-wrap-1 {width: 540px; margin-right: auto; margin-left: 2px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-4 {margin-left: 16px; margin-right: 16px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1345px}
.u-section-3 .u-text-1 {margin-right: auto; margin-left: 71px}
.u-section-3 .u-layout-wrap-1 {width: 340px; margin-left: 0; margin-right: 0}
.u-section-3 .u-text-4 {margin-left: 10px; margin-right: 10px} }